/* ShowService.css */

.service-header {
  position: relative;
}

.on-service-image {
  position: relative;
  height: 300px;
}

.on-service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-header h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "great vibes",sans-serif;
  font-size: 5vw;
  color: rgb(196, 175, 152);
}
.service-about {
  padding-top: 30px;
}


.service-about h3 {
  font-family: "Merriweather",sans-serif;
  font-size: 3.3vw;
  text-align: center;
  padding: 40px 40px;
  color: #696054;
}

.service-showcasing {
  margin:  0px 60px; 
  padding: 40px 120px;
  padding-bottom: 120px;
}

.about-service p{
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: "Lato",sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #396141;
  margin-bottom: 4vw;
}

.service-showcasing .slick-prev {
  left: -43px; 
}

.new-card {
  border: 2px solid #a79797; 
  border-radius: 30px;
  overflow: hidden;
  transition: transform 0.3s ease;  
}


.new-card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease; 
}

.new-card-img-top {
  width: 100%;
  height: auto;
  opacity: 0.6;

}

.new-card-body {
  padding: 50px;
  text-align: center;
  background-color:#f5eae4;;
}

.new-card-title {
  font-size: 2.5vw;
  color: #696161;
  margin-bottom: 13px;
  font-family: "great vibes",sans-serif;
}

.new-card-para {
  font-size:1.4rem;
  font-family: "Lato",sans-serif;
  color: #666;
  margin-bottom: 15px;
}
.new-card-too {
  font-size:1.2rem;
  font-family: "Lato",sans-serif;
  color: #677c5a;
  font-weight: bold;
  margin-bottom: 15px;
}
