.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #858383b0;
  padding: 15px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar-nav li {
  margin-left: 20px;
}

.nav-link {
  color: #464545 !important;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.nav-link:hover {
  color: #8a601c !important;
}

.logo {
  height: 70px;
  width: auto;
  margin-right: 70px; 
  border-radius: 50%;
}

@media (max-width: 576px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-nav li {
    margin: 0;
  }

  .navbar-toggler {
    order: -1;
  }
}
