.sellweek-container {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  font-size: 2.5vw !important;
  color: #c08b36;
  font-family: "Merriweather", sans-serif;
  padding-bottom: 40px;
  padding-top: 30px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.image-wrapper img {
  width: 50%;
  max-width: 350px;
  margin: 0 20px;
}

@media (min-width: 576px) {
  .header h2 {
      font-size: 24px;
      padding-bottom: 60px;
      padding-top: 40px;
  }

  .image-wrapper {
      flex-direction: row;
      align-items: center;
  }

  .image-wrapper img {
      width: auto;
      margin: 0 40px;
  }
}
