.footer-container {
    padding-left: 8%;
    padding-right: 8%;
    margin-right: auto;
    margin-left: auto;
    color: #726553;

}

footer {
    background-color: #b3aeaeb0;
}

.footer-pg {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.footer-container img {
    transition: transform 0.3s ease;
}

.footer-container img:hover {
    transform: scale(1.1);
}

.footer-container a {
   color: #464545 !important;
    font-size: 21px;
    transition: transform 0.4s ease;
}

.footer-container a:hover {
    transform: scale(1.1);
}
