.before-carousel-container {
  margin-top: 4vw;
  padding: 1.5vw 1vw;
  background-color: #ddd9d1;
}

.before-carousel-container h1 {
  font-family: "great vibes", sans-serif;
  color: #c08b36;
  font-size: 4vw;
  text-align: center;
  padding: 1vw 1vw;
}

.before-carousel-container h4 {
  text-align: center;
  color: #7c6546;
  font-family: "Merriweather", sans-serif;
}

.before-carousel {
  width: 80%;
  margin: 20px auto;
  background-color: inherit;
  padding-bottom: 40px;
}

.before-carousel .slick-slide {
  text-align: center;
  padding-top: 40px;
}

.before-carousel img {
  max-width: 100%;
  height: 700px;
  margin: 0 auto;
}

.before-carousel video {
  max-width: 100%;
  height: 700px;
}

@media only screen and (max-width: 768px) {
  .before-carousel {
      width: 90%;
  }

  .before-carousel-container h1 {
      font-size: 6vw;
  }

  .before-carousel-container h4 {
      font-size: 3vw;
  }

  .slick-prev,
  .slick-next {
      display: none;
  }
}

@media only screen and (max-width: 480px) {

}

.slick-prev:before,
.slick-next:before {
    color: #8eaf33;
    font-size: 10px; 
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #ecb798;
}
